.jumbotron {
  background-color: #ffffer;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 100%; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffffer;
  margin-top: 1rem;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.piePagina {
  width: 100%; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }
