$yellow: #ffffer;


$green: #2EF934;
$blue: #173DFf;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 20px);
	height: 100%;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(1rem, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
	
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
padding-right: 10px;
}

.piePagina{
	width: 100%;
}
.tab-content{
	@include margenes(10px, 0px);
}